apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: mailpit
  namespace: flux-system
spec:
  interval: 24h
  url: https://jouve.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mailpit
  namespace: mailpit
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: mailpit
      version: "0.31.3"
      sourceRef:
        kind: HelmRepository
        name: mailpit
        namespace: flux-system
  install:
    createNamespace: true
  values:
    ingress:
      enabled: true
      ingressClassName: traefik
      hostname: ${SERVICE_PREFIX}mail.${DOMAIN}
    resources:
      requests:
        memory: 64Mi
        cpu: 25m
      limits:
        memory: 128Mi
        cpu: 100m
