apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: oauth2-proxy
  namespace: flux-system
spec:
  interval: 24h
  url: https://oauth2-proxy.github.io/manifests
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy
  namespace: oauth2-proxy
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: oauth2-proxy
      sourceRef:
        kind: HelmRepository
        name: oauth2-proxy
        namespace: flux-system
  install:
    createNamespace: true
  values:
    config:
      existingSecret: oauth2-proxy-secrets
      configFile: |
        provider = "oidc"
        oidc_issuer_url = "https://forgejo.${DOMAIN}"
        redirect_url = "https://oauth2.${DOMAIN}/oauth2/callback"
        upstreams = ["static://200"]
        email_domains = ["*"]
        skip_provider_button = true
        ssl_insecure_skip_verify = ${TLS_SKIP_VERIFY}
        cookie_secure = true
        cookie_domains = [".${DOMAIN}"]
        whitelist_domains = [".${DOMAIN}"]
    ingress:
      enabled: true
      className: traefik
      hosts:
        - oauth2.${DOMAIN}
      pathType: Prefix
    service:
      type: ClusterIP
      portNumber: 4180
