gitea:
  admin:
    existingSecret: forgejo-admin-credentials
    email: "${ADMIN_EMAIL}"
  additionalConfigFromEnvs:
    - name: FORGEJO__database__PASSWD
      valueFrom:
        secretKeyRef:
          name: forgejo-db-config
          key: password
  config:
    server:
      DOMAIN: ${SERVICE_PREFIX}forgejo.${DOMAIN}
      ROOT_URL: https://${SERVICE_PREFIX}forgejo.${DOMAIN}
      SSH_DOMAIN: ${SERVICE_PREFIX}forgejo.${DOMAIN}
      SSH_PORT: 22
      SSH_LISTEN_PORT: 2222
      LFS_START_SERVER: true
    database:
      DB_TYPE: postgres
      HOST: postgres-rw.postgres.svc.cluster.local:5432
      NAME: forgejo
      USER: forgejo
      SSL_MODE: disable
    packages:
      ENABLED: true
    service:
      DISABLE_REGISTRATION: true
      DEFAULT_ALLOW_CREATE_ORGANIZATION: false
    repository:
      DEFAULT_PRIVATE: true
    oauth2:
      ENABLED: true
    openid:
      ENABLE_OPENID_SIGNIN: true
    webhook:
      ALLOWED_HOST_LIST: "*.${DOMAIN}"
      SKIP_TLS_VERIFY: ${TLS_SKIP_VERIFY}

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: ${SERVICE_PREFIX}forgejo.${DOMAIN}
      paths:
        - path: /
          pathType: Prefix

persistence:
  enabled: true
  size: 10Gi

postgresql:
  enabled: false

redis-cluster:
  enabled: false

redis:
  enabled: false
