gitea:
  admin:
    existingSecret: forgejo-admin-credentials
    email: "${ADMIN_EMAIL}"
  additionalConfigFromEnvs:
    - name: FORGEJO__database__PASSWD
      valueFrom:
        secretKeyRef:
          name: forgejo-db-config
          key: password
    - name: FORGEJO__mailer__USER
      valueFrom:
        secretKeyRef:
          name: forgejo-smtp-config
          key: username
          optional: true
    - name: FORGEJO__mailer__PASSWD
      valueFrom:
        secretKeyRef:
          name: forgejo-smtp-config
          key: password
          optional: true
    - name: FORGEJO__storage_0X2E_packages__MINIO_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: forgejo-minio-config
          key: accessKey
    - name: FORGEJO__storage_0X2E_packages__MINIO_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: forgejo-minio-config
          key: secretKey
  config:
    server:
      DOMAIN: ${SERVICE_PREFIX}forgejo.${DOMAIN}
      ROOT_URL: https://${SERVICE_PREFIX}forgejo.${DOMAIN}
      SSH_DOMAIN: ${SERVICE_PREFIX}forgejo.${DOMAIN}
      SSH_PORT: 22
      SSH_LISTEN_PORT: 2222
      LFS_START_SERVER: true
    database:
      DB_TYPE: postgres
      HOST: postgres-rw.postgres.svc.cluster.local:5432
      NAME: forgejo
      USER: forgejo
      SSL_MODE: disable
    service:
      DISABLE_REGISTRATION: true
      DEFAULT_ALLOW_CREATE_ORGANIZATION: false
    repository:
      DEFAULT_PRIVATE: true
    oauth2:
      ENABLED: true
    openid:
      ENABLE_OPENID_SIGNIN: true
    mailer:
      ENABLED: true
      PROTOCOL: smtp
      SMTP_ADDR: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      FROM: "${SMTP_FROM}"
    packages:
      ENABLED: true
    storage.packages:
      STORAGE_TYPE: minio
      MINIO_ENDPOINT: minio.minio.svc:9000
      MINIO_BUCKET: forgejo-packages
      MINIO_USE_SSL: false
    webhook:
      ALLOWED_HOST_LIST: "*.${DOMAIN}"
      SKIP_TLS_VERIFY: ${TLS_SKIP_VERIFY}

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: ${SERVICE_PREFIX}forgejo.${DOMAIN}
      paths:
        - path: /
          pathType: Prefix

persistence:
  enabled: true
  size: 10Gi

postgresql:
  enabled: false

redis-cluster:
  enabled: false

redis:
  enabled: false
