config:
  oidc:
    secret:
      create: false
    externalSecret:
      enabled: true
      name: "oidc"
    issuerURL: https://forgejo.${DOMAIN}
    scopes: "openid,profile,email,groups"

ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - host: headlamp.${DOMAIN}
      paths:
        - path: /
          type: ImplementationSpecific

env:
  - name: HEADLAMP_CONFIG_OIDC_SKIP_TLS_VERIFY
    value: "${TLS_SKIP_VERIFY}"
