# BEGIN multinode
nodeSelector:
  open-platform.sh/node-role: infra
# END multinode
mode: standalone
replicas: 1
existingSecret: minio-credentials
persistence:
  enabled: true
  size: 20Gi
resources:
  requests:
    memory: 256Mi
ingress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - ${SERVICE_PREFIX}s3.${DOMAIN}
consoleIngress:
  enabled: true
  ingressClassName: traefik
  hosts:
    - ${SERVICE_PREFIX}minio.${DOMAIN}
