server:
  enabled: true
  # BEGIN multinode
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 80
          preference:
            matchExpressions:
              - key: open-platform.sh/node-role
                operator: In
                values:
                  - infra
  # END multinode
  env:
    WOODPECKER_FORGEJO: "true"
    WOODPECKER_FORGEJO_URL: "https://${SERVICE_PREFIX}forgejo.${DOMAIN}"
    WOODPECKER_FORGEJO_SKIP_VERIFY: "${TLS_SKIP_VERIFY}"
    WOODPECKER_CLONE_INSECURE_SKIP_VERIFY: "${TLS_SKIP_VERIFY}"
    WOODPECKER_HOST: "https://${SERVICE_PREFIX}ci.${DOMAIN}"
    WOODPECKER_ADMIN: "${ADMIN_USER}"
    WOODPECKER_OPEN: "false"
  extraSecretNamesForEnvFrom:
    - woodpecker-secrets
  persistentVolume:
    enabled: true
    size: 10Gi
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - host: ${SERVICE_PREFIX}ci.${DOMAIN}
        paths:
          - path: /
            pathType: Prefix

agent:
  enabled: true
  replicaCount: 1
  env:
    WOODPECKER_BACKEND: kubernetes
    WOODPECKER_BACKEND_K8S_NAMESPACE: woodpecker
    WOODPECKER_BACKEND_K8S_VOLUME_SIZE: "5G"
    WOODPECKER_MAX_WORKFLOWS: "4"
  extraSecretNamesForEnvFrom:
    - woodpecker-secrets
